- content_for :page_title_prefix do
  | Privacy notice

markdown:

  # **Privacy notice**
  {: .govuk-heading-xl}

  This privacy notice explains how the Department for Education (DfE) uses personal information on ’Calculate teacher pay’.

  Teachers and leaders can use ’Calculate teacher pay’ to see how their salary could change following the 2023 pay award.

  Visit our [personal information charter](https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter){: .govuk-link} to see the standards you can expect from DfE when we collect, hold or use your personal data.

  ## Lawful basis for processing your data
  {: .govuk-heading-l}

  DfE is the data controller for your personal data.

  Our lawful basis for collecting your personal data when you use ’Calculate teacher pay’ is ’public task’ (article 6(1)(e) UK GDPR), together with section 122 of the Education Act 2002.

  ## Data we collect
  {: .govuk-heading-l}

  We collect your Internet Protocol (IP) address when you use this service.

  ## How we use your data
  {: .govuk-heading-l}

  We will use and store your IP address to:

  * identify security and privacy threats to the service
  * make sure the service is working correctly
  * help us fix technical problems with the website
  {: .govuk-list.govuk-list--bullet }

  Your data is not used for analytics purposes.

  ## How long we keep your data
  {: .govuk-heading-l}

  DfE will keep your IP address for no longer than 30 days.

  ## Data processors
  {: .govuk-heading-l}

  A data processor is an organisation that processes your information on DfE’s behalf.

  We do not use data processors for our activities.

  ## Transferring your personal information overseas
  {: .govuk-heading-l}

  We do not store your personal information outside of the UK.

  ## Sharing your personal information
  {: .govuk-heading-l}

  We do not share your personal information when you use ’Calculate teacher pay’.

  ## Your data protection rights
  {: .govuk-heading-l}

  You have data collection rights, including the right to:

  * ask for a copy of the personal information we have about you – ’right of access’
  * ask us to change any information you think is not accurate or complete – ’right to rectification’
  * ask us to delete your personal information – ’right to erasure’
  * ask us to stop using your information – ’right to restriction of processing’
  * object to us processing your information – ’right to object to processing’
  {: .govuk-list.govuk-list--bullet }

  For more information on your rights, visit the [Information Comissioner’s Office website](https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/){: .govuk-link}.

  ## Finding out what information we have
  {: .govuk-heading-l}

  You have the right to ask for access to your personal information. This is known as a subject access request.

  [Contact DfE to make a subject access request](https://form.education.gov.uk/service/Contact_the_Department_for_Education){: .govuk-link}.

  ## How to contact us or make a complaint
  {: .govuk-heading-l}

  [Contact DfE](https://form.education.gov.uk/service/Contact_the_Department_for_Education){: .govuk-link} online or write to our data protection officer at:

  * Emma Wharram Data Protection Officer
  * Department for Education (B2.28)
  * 7 & 8 Wellington Place
  * Wellington Street
  * Leeds
  * LS1 4AW
  {: .govuk-list }

  You can also [contact the Information Comissioner’s Office](https://ico.org.uk/make-a-complaint/data-protection-complaints/data-protection-complaints){: .govuk-link} online or write to them at:

  * Information Commissioner’s Office
  * Wycliffe House
  * Water Lane
  * Wilmslow
  * Cheshire
  * SK9 5AF
  * Helpline number: 0303 123 1113.
  {: .govuk-list }

  ## Last updated
  {: .govuk-heading-l}

  This privacy notice was last updated on 30 June 2023.

  Visit this page from time to time as we may update this information.
