- content_for :page_title_prefix do
  | Terms and conditions

markdown:

  # Terms and conditions
  {: .govuk-heading-xl}

  You must agree to these terms to use 'Calculate teacher pay', a service run by the Department for Education (DfE).

  If you do not agree to these terms, you must not use this service.

  When using this service, you agree to use it:

  * only for lawful purposes
  * in a way that does not infringe the rights of, or restrict or inhibit the use and enjoyment of, this site by anyone else
  {: .govuk-list.govuk-list--bullet }

  You must **not**:

  * charge your website's users to click on a link to any page of the service
  * say that your website is associated with this service, DfE, GOV.UK or another government department or agency
  * load our service pages into frames on your site
  {: .govuk-list.govuk-list--bullet }

  ## Viruses, hacking and other offences
  {: .govuk-heading-l}

  When using this service, you must not introduce viruses, trojans, worms, logic bombs or any other material that's malicious or technologically harmful.

  You must not try to gain unauthorised access to this service, the server on which it's stored or any server, computer or database connected to it.

  You must not attack this service in any way. This includes denial-of-service attacks.

  We'll report any attacks or attempts to gain unauthorised access to GOV.UK to the relevant law enforcement authorities and share information about you with them.

  ## Information about you
  {: .govuk-heading-l}

  We collect information about you in accordance with our [privacy policy](./privacy-notice){: .govuk-link}. By using this service, you agree to us collecting this information.

  ## Validity of these terms and conditions
  {: .govuk-heading-l}

  If any of these terms and conditions are held to be invalid, unenforceable or illegal for any reason, the remaining terms and conditions will still apply.

  ## Governing law
  {: .govuk-heading-l}

  These terms and conditions are governed by and construed in accordance with the laws of England and Wales.

  Any dispute you have which relates to these terms and conditions, or your use of this service (whether it be contractual or non-contractual), will be subject to the exclusive jurisdiction of the courts of England and Wales.

  ## Changes to these terms and conditions
  {: .govuk-heading-l}

  Check these terms and conditions regularly. We can update them at any time without notice.

  You'll agree to any changes if you continue to use this service after the terms and conditions have been updated.

  Last updated 3 July 2023.
