- content_for :page_title_prefix, t('error_pages.not_found')

h1.govuk-heading-xl = t('error_pages.not_found')
p.govuk-body #{govuk_link_to("Start again", "/")} or check the web address looks correct.
